<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../Stylesheet/style.css" rel=stylesheet>
<title>Profile</title>
</head>
<body>
	<div id="wrapper">
		<div id="navbar">
			<table align="center" width="75%">
				<tbody>
					<tr>
						<td width="80%"></td>
						<td align="center"><h2>Hello Arjita</h2></td>
						<td align="center"><a href="Login.html">Logout</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr />
		<div id="detailsbody" width="100%">
			<h1 align="center" padding="10%">Details</h1>
			<table width="70%" align="center" cellpadding="10%">
				<tr>
					<td align="center">Name:</td>
					<td align="center">Arjita Marelay</td>
				</tr>
				<tr>
					<td align="center">Email:</td>
					<td align="center">arjita101@gmail.com</td>
				</tr>
				<tr>
					<td align="center">Contact number:</td>
					<td align="center">1234567890</td>
				</tr>
				<tr>
					<td align="center">Organization:</td>
					<td align="center">Metacube</td>
				</tr>
			</table>
			<p padding="20%"></p>
			<table width="10%" align="center" cellpadding="10%">
				<tr>
					<td align="center"><button>Edit Info</button></td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<hr />
			<p align="center">&copy Copyright 2017-18| All right reserved|
				Metacube Training</p>
		</div>

	</div>
</body>
</html>